@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~stream-chat-react/dist/css/v2/index.css";

@layer base {
  :root {
    --background: 345 0% 94.62%;
    --foreground: 345 66% 4%;
    --muted: 345 18% 86%;
    --muted-foreground: 345 0% 26%;
    --popover: 345 60% 100%;
    --popover-foreground: 345 66% 4%;
    --card: 345 60% 100%;
    --card-foreground: 345 66% 4%;
    --border: 345 11% 95%;
    --input: 345 11% 95%;
    --primary: 345 74% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 345 13% 92%;
    --secondary-foreground: 345 13% 32%;
    --accent: 345 13% 92%;
    --accent-foreground: 345 13% 32%;
    --destructive: 22 95% 23%;
    --destructive-foreground: 22 95% 83%;
    --ring: 345 74% 43%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 345 55% 3%;
    --foreground: 345 21% 98%;
    --muted: 345 18% 14%;
    --muted-foreground: 345 0% 74%;
    --popover: 345 55% 3%;
    --popover-foreground: 345 21% 98%;
    --card: 345 3.44% 5.95%;
    --card-foreground: 345 21% 98%;
    --border: 345 11% 13%;
    --input: 345 11% 13%;
    --primary: 345 74% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 345 16% 20%;
    --secondary-foreground: 345 16% 80%;
    --accent: 345 16% 20%;
    --accent-foreground: 345 16% 80%;
    --destructive: 22 95% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 345 74% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.str-chat {
  --str-chat__font-family: inherit;
  --str-chat__primary-color: theme(colors.primary.DEFAULT);
  --str-chat__on-primary-color: theme(colors.primary.foreground);
  --str-chat__active-primary-color: theme(colors.primary.foreground);
  --str-chat__primary-color-low-emphasis: color-mix(
    in hsl,
    hsl(var(--primary)) 10%,
    transparent
  );
  --str-chat__background-color: theme(colors.card.DEFAULT);
  --str-chat__secondary-background-color: theme(colors.card.DEFAULT);
  --str-chat__message-textarea-background-color: theme(colors.background);
  --str-chat__channel-preview-active-background-color: theme(
    colors.accent.DEFAULT
  );
  --str-chat__channel-preview-hover-background-color: var(
    --str-chat__channel-preview-active-background-color
  );
  --str-chat__secondary-surface-color: theme(colors.muted.DEFAULT);
  --str-chat__own-message-bubble-color: theme(colors.primary.foreground);
  --str-chat__primary-surface-color: theme(colors.primary.DEFAULT);
  --str-chat__primary-surface-color-low-emphasis: var(
    --str-chat__primary-color-low-emphasis
  );
  --str-chat__disabled-color: theme(colors.muted.DEFAULT);
  --str-chat__cta-button-border-radius: var(--radius);
}

.str-chat-channel-list {
  border-right: none;
}

.str-chat__channel-list-react .str-chat__channel-list-messenger-react {
  padding-bottom: 0;
}

.str-chat__channel-search-bar-button--exit-search {
  display: none;
}
